.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.custom-underline {
  text-decoration: underline;
  text-decoration-color: #0094E8;
  text-decoration-thickness: 4px;
  text-underline-offset: 10px; /* Adjust this value as needed */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




















/* footer css */
.map-container {
  width: 40vw; /* Takes 40% of the viewport width on larger screens */
}

@media (max-width: 768px) {
  .map-container {
    width: 80vw; 
    margin: auto;
  }
}



.footer {
  /* Additional styling for the footer */
  padding: 2rem;
  background-color: #1a202c; /* bg-gray-900 equivalent */
}

.contact-info i {
  margin-right: 0.5rem;
}

.map-container iframe {
  border-radius: 0.5rem;
}